<div class="jumbotron">
  <h2>Where to find <%= @brand.name %></h2>
</div>
<div class="container">
  <h3><%= @brand.name %> can be found in these stores:</h3>
  <% if @brand.stores.any? %>
  <ul>
    <% @brand.stores.each() do |store| %>
    <li><%= store.name %></li>
    <% end %>
  </ul>
  <% else %>
  <p>This brand is not currently being carried by any stores.</p>
  <br>
  <p><a href="/brands">Add brands to database</a></p>
  <% end %>
</div>
