<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Distribution</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <br>
      <br>
      <div id="navigation">
        <ul>
          <li><a href="/stores">View All Shoe Stores</a></li>
          <li><a href="/brands">View All Shoe Brands</a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
