body {
  background: url('../img/intro-page.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  text-align: center;
  width: 100%;
  padding: 80px;
  color: #E0F1FB;
  background-color: #042ABB;
  border-bottom: 40px;
  margin-bottom: 50px;
}

.jumbotron h2 {
  font-size: 3.25em;
}

h2 {
 font-family: 'Lato', sans-serif;

}
